.story-image {
    position: relative;
    overflow: hidden;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-text span {
    color: #fff;
    font-size: 16px;
    color: black;
    padding: 5px 10px; /* Ajustez le rembourrage selon vos besoins */
  }
  
  /* Styles pour le lien de détails */
  .story-link {
    position: absolute;
    top: 10px; /* Ajustez la position verticale selon vos besoins */
    right: 10px; /* Ajustez la position horizontale selon vos besoins */
  }
  
  .story-link a {
    color: #fff;
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
  }

  .story-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .story-link a {
    color: #fff;
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
  }
  
  